@import "variables";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: $bg-secondary;
    box-sizing: border-box;
    color: $color-primary;
    font-family: $font-body;
    margin: 0;
    padding: 0;
}

nav{
    align-items: center;
    background-color: $bg-primary;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    h2{
        font-family: $font-h2;
        font-size: 1.7em;
        font-weight: bold;
    }
    input{
        background-color: $bg-secondary;
        border-radius: 5px;
        border: solid 0.5px gray;
        height: 2.5rem;
        padding: 20px;
        width: 20%;
        &::placeholder{
            font-size: 1.1em;
        }
    }
}

main{
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: repeat(4, 1fr);
    .stories {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 40px 40px 0 40px;
        .story-container {
            align-items: center;
            background-color: $bg-primary;
            border: solid 0.5px gray;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 10px;
            width: 54%;
        }
    }
    .feed {
        align-items: center;
        display: flex;
        grid-area: 2 / 1 / 5 / 2;
        justify-content: center;
        margin-top: -30rem;
        z-index: -1;
        .card{
            align-items: center;
            background-color: $bg-primary;
            border: solid 0.5px gray;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 10px;
            width: 50%;
            .card-header{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                width: 100%;
                .points{
                    position: relative;
                    left: 14rem;
                }
            }
            .foto-feed{
                    width: 100%;
                }
            }
            .comments{
                span{
                    color: $color-secondary;
                &:first-child{
                    color: $color-primary;
                    font-weight: bold;
                }
            }
            }
            .icons{
                img{
                    margin-left: 10px;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .suggested { 
        grid-area: 1 / 2 / 2 / 3;
        .change{
            display: flex;
            padding: 10px;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            margin-top: 20px;
            .name{
                span{
                    color: $color-primary;
                    font-weight: bold;
                    
                }
                p{
                    margin: 0;
                }
                .blue{
                    color: $color-link;
                    font-weight: bold;
                    position: relative;
                    left: 14rem;
                    top: 2rem;
                }
            }
        }
        .sugerencias {
            .perfil {
                display: flex;
                padding: 10px;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                font-weight: bold;
                .blue{
                    color: $color-link;
                    position: relative;
                    left: 5rem;
                    &.blue2{
                        left: 6rem;
                    }
                    }
                }
            }
        }

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-primary;
    color: $bg-primary;
}

@media screen and (max-width: 480px){
    .suggested,
    .s1,
    .s2,
    .s3,
    input{
        display: none;
    }
    nav{
        justify-content: space-between;
        padding: 0 15px;
    }
    main{
        grid-template-columns: 1fr;
        .feed{
            z-index: 0;
            margin-top: 0;
            .card{
                width: 20rem;
                .card-header{
                    padding: 0 0 10px 0;
                    .points{
                        position: relative;
                        left: 5rem;
                    }
                }
            }
        }
        .stories{
            margin: 40px 0;
            .story-container{
                width: 20rem;
                justify-content: space-around;
            }
        }

    }


    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        p{
            font-size: 50%;
        }
    }
}