@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Roboto:wght@400;500;700&display=swap");
body {
  background-color: #fafafa;
  box-sizing: border-box;
  color: #000;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
  font-weight: bold;
}
nav input {
  background-color: #fafafa;
  border-radius: 5px;
  border: solid 0.5px gray;
  height: 2.5rem;
  padding: 20px;
  width: 20%;
}
nav input::-moz-placeholder {
  font-size: 1.1em;
}
nav input::placeholder {
  font-size: 1.1em;
}

main {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(4, 1fr);
}
main .stories {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 40px 40px 0 40px;
}
main .stories .story-container {
  align-items: center;
  background-color: #fff;
  border: solid 0.5px lightgray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  width: 54%;
}
main .feed {
  align-items: center;
  display: flex;
  grid-area: 2/1/5/2;
  justify-content: center;
  margin-top: -30rem;
  z-index: -1;
}
main .feed .card {
  align-items: center;
  background-color: #fff;
  border: solid 0.5px lightgray;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
  width: 50%;
}
main .feed .card .card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}
main .feed .card .card-header .points {
  position: relative;
  left: 14rem;
}
main .feed .card .foto-feed {
  width: 100%;
}
main .feed .comments span {
  color: #A49B9B;
}
main .feed .comments span:first-child {
  color: #000;
  font-weight: bold;
}
main .feed .icons img {
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.suggested {
  grid-area: 1/2/2/3;
}
.suggested .change {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}
.suggested .change .name span {
  color: #000;
  font-weight: bold;
}
.suggested .change .name p {
  margin: 0;
}
.suggested .change .name .blue {
  color: #1CA0F6;
  font-weight: bold;
  position: relative;
  left: 14rem;
  top: 2rem;
}
.suggested .sugerencias .perfil {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-weight: bold;
}
.suggested .sugerencias .perfil .blue {
  color: #1CA0F6;
  position: relative;
  left: 5rem;
}
.suggested .sugerencias .perfil .blue.blue2 {
  left: 6rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .suggested,
  .s1,
  .s2,
  .s3,
  input {
    display: none;
  }
  nav {
    justify-content: space-between;
    padding: 0 15px;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4);
  }
  main .feed {
    z-index: 0;
    margin-top: 0;
  }
  main .feed .card {
    width: 20rem;
  }
  main .feed .card .card-header {
    padding: 0 0 10px 0;
  }
  main .feed .card .card-header .points {
    position: relative;
    left: 5rem;
  }
  main .stories {
    margin: 40px 0;
  }
  main .stories .story-container {
    width: 20rem;
    justify-content: space-around;
  }
  footer {
    position: fixed;
    top: 60rem;
    width: 100%;
  }
  footer p {
    font-size: 50%;
  }
}/*# sourceMappingURL=style.css.map */